{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="login-register">

        <div class="row">
            <div class="large-4 medium-12 large-offset-4 columns">
                <h3 class="page-title"><span>Signup</span></h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="{% trans 'Register' %}" class="small button large-12" />
                    <input type="hidden" name="next" value="{{ next }}" />

                    <div class="clearfix"></div>
                </form>

                <a href="#" class='social_meadia_account_button large-12' id="facebook-button">Register with Facebook</a>
                <p>{% trans "Already a Member" %}? <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>!</p>
                <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<!--            <p><a href="#">Become a Recruiter</a></p>
 -->            </div>

        </div>
        <hr>
    </div>
{% endblock %}

