@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

* {
    padding: 0; /* Standard Reset, and we're adding box-sizing:border-box because it's awesome. */
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h2 {

    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

h5 {


    font-family: 'Lato', sans-serif;
    font-weight:400;
}

p {

     font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.top-bar, .top-bar-section ul  {
    background-color: #ffffff;
}

.remove-labels label {
    display: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color:transparent;
    color: #0a2248;
    font-weight:200;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color:transparent;
    text-decoration: underline;
    color: #0a2248;
}

@media only screen and (min-width: 40.063em) {
    .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 62px;
    }

    .offset-pt5 {
        margin-left: 2.33333% !important;
    }
}
.top-bar-section ul li > a {
    font-size: 1rem;
}

form input[type=text], form input[type=email] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.top-bar-section ul li > a.button.white-button {
    background-color:#ffffff;
    color: #0a2248;
    border:1px solid #979797;
}

.fullwidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: inherit;
}

.header-signup-form {
    background-image: url('../images/blue_header.png');
    background-size:cover;
    background-repeat: no-repeat;
    padding:3rem 0;
    border-bottom: 10px solid #0a2248;
}
.footer-signup-form {
    padding:3rem 0;
}

.extramargin {
    margin:3rem 0;
}

.extramargin-small {
    margin:2rem 0;
}
.extramargin-mini {
    margin:.5rem 0;
}

.blue_background {
    background-color:#f8fafd;
}

.white {
    color:#ffffff;
}

.grey {
    color:#CCCCCC;
}


.page-title {
    font-weight:400;
    font-family: Lato, sans-serif;
}

p, a, input[type=submit] {
    font-weight:200;
    letter-spacing: .1rem;
}

.home-content p {
    font-size: 1.2rem;
    margin-top: 4rem;
}

h5.title {
    font-size: 1.8rem;
}

.footer {
    background-color:white;
    padding: 1rem 0 4rem 0;
    margin-top: 2.5rem;
}

.top-bar .name h1 a:before {
    background-image: url('../images/logo.png');
    background-size:cover;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 60px;
    margin-right: 10px;
    position: relative;
    width: 270px;
}

.top-bar .toggle-topbar.menu-icon a {
    color: #0a2248;
}

.top-bar-section ul li > a.button.alert {
    border: 1px solid #f04124;
}

.top-bar-section ul li {
    background-color: transparent;
}

.header_buttons {
    margin: .7rem 1rem;
}

@media only screen and (min-width: 40.063em){
    .top-bar {
        height:4rem;
    }
}

#id_email {
    padding: 1.3rem .65rem;
}

.top-bar .name h1 a:before {
    width:200px;
    height:4rem;
}

.remove-padding {
    padding:0;
}

/***** REGISTRATION FORMS *******/
.registration_forms input[type=text], .registration_forms input[type=email], .registration_forms input[type=password] {
    border: none;
    box-shadow: none;
    border-bottom:1px solid #000000;
    border-radius:0;
}

.rounded_page_bg {
    border-radius:5px;
    padding:1rem;
    display:inline-block;
}

.rounded_page_bg .white_background{
    border:1px solid #0078a0;
}


.white_background{
    background-color:#ffffff;
}
.recruiter_nav_wrapper {
    padding-left:0;
}
.recruiter_nav li {
    padding: .5rem;
    border: 1px solid #000000;
    margin: 1rem 0;
    text-align: center;
    font-size:1.2rem;
    border-left:none;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.recruiter_nav li a:hover {
    background-color:transparent !important;
}

