<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header_snippets %}
    {% endblock header_snippets %}
    <title>{% block title %}Nineteenth Amendment | Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation-icons.css" />
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
</head>
<body {% block body_tag_js%}{% endblock body_tag_js %} class="{% block body_class %}{% endblock body_class %} home page page-template">

{% block header%}
    {% include "snippets/header.html" %}
    {% block extended_header %}
    {% endblock extended_header %}
{% endblock %}

{% block body %}
{% block content %}
{% block listing %}
{% endblock listing %}
{% endblock content %}
{% endblock body %}

{% block footer %}
    {% include "snippets/footer.html" %}
{% endblock footer %}
<div id="spinner"></div>
{#<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
<script src="{{ STATIC_URL }}js/vendor/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
{% block footer_page_javascript %}
{% endblock footer_page_javascript %}

<script>
    $(document).ready(
            function(){
                {% block jquery %}{% endblock %}
            });
</script>
</html>
