{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="fullwidth text-center header-signup-form">
    <h2 class="white page-title">Simple, Powerful Social Recruiting</h2>
    <div class="clearfix extramargin"></div>
    <p class="white">Discover, high quality talent using your own social networks.  <br/>Place more candidates faster and grow your pipeline with HireApp</p>
    <form class="remove-labels large-10 large-offset-1 invitation_form" method="post">{% csrf_token %}
        <div class="large-6 large-offset-3">
            <div class="hide thanks_for_submitting white"><p>Thanks for signing up!</p></div>
            <div class="large-7 large-offset-0 medium-8 medium-offset-2 columns remove-padding">
                {{ invitationForm }}
            </div>
            <div class="remove-padding large-4 medium-text-center columns">
                <input type="submit" class="alert button small center" value="Get Invited" />
            </div>
        </div>
    </form>
    <div class="clearfix extramargin"></div>
</div>
<div class="large-12 extramargin">
    <div class="large-3 columns text-center">
        <div class="large-6 large-offset-3">
            <img class="fullwidth" src="{{ STATIC_URL }}images/social_integration.png" />
        </div>
        Social Integration
    </div>
    <div class="large-3 columns text-center">
        <div class="large-6 large-offset-3">
            <img class="fullwidth" src="{{ STATIC_URL }}images/analytics_campaign.png" />
        </div>
        Analytics & Campaign<br/> Management
    </div>
    <div class="large-3 columns text-center">
        <div class="large-6 large-offset-3">
            <img class="fullwidth" src="{{ STATIC_URL }}images/multiple_social_accounts.png" />
        </div>
        Multiple Social Accounts
    </div>
    <div class="large-3 columns text-center">
        <div class="large-6 large-offset-3">
            <img class="fullwidth" src="{{ STATIC_URL }}images/job_board.png" />
        </div>
        Job Board Syndication
    </div>
    <div class="clearfix"></div>
</div>
<hr class="large-8 large-offset-2"/>

<div class="large-10 large-offset-1 home-content">
<div class="clearfix extramargin"></div>
    <div class="large-7 columns">
        <h5 class="title">An Integrated Social Recruiting Platform</h5>
        <p>HireApp connects your social networks, job boards, and applicant tracking system to your listings, unifying the job search and growing your pipeline.</p>
    </div>
    <div class="large-5 columns">
        <img class="fullwidth" src="{{ STATIC_URL}}images/Social.png" />
    </div>
    <div class="clearfix extramargin"></div>
    <hr class="large-10 large-offset-1 extramargin"/>

    <div class="clearfix extramargin"></div>
    <div class="large-5 columns">
        <img class="fullwidth" src="{{ STATIC_URL}}images/Hires.png" />
    </div>
    <div class="large-7 columns">
        <h5 class="title">Find High Quality Candidates</h5>
        <p>Leverage you existing social media audience to find the best candidates for you listing.  Source candidates quickly through the followers and connections you already have</p>
    </div>
    <div class="clearfix extramargin"></div>
    <hr class="large-10 large-offset-1 extramargin"/>
        <div class="clearfix extramargin"></div>
    <div class="large-7 columns">
        <h5 class="title">Build Relationships through Social Media</h5>
        <p>Top recruiters know there's more to finding that perfect candidate than blasting out job notifications.  HireApp gives you the power to nurture prospects and grow your contact list using your follower base.</p>
    </div>

    <div class="large-5 columns">
        <img class="fullwidth" src="{{ STATIC_URL}}images/Networks.png" />
    </div>
    <div class="clearfix extramargin"></div>
    <hr class="large-10 large-offset-1"/>
</div>
<div class="large-12 medium-12 text-center footer-signup-form">
    <h2>Join Our Free Private Beta</h2>
    <p>We're changing the way recruiters connect with the best talent.<br/>Join our free beta, start driving revenue through social.</p>
    <div class="extramargin"></div>
    <form class="remove-labels invitation_form" method="post">{% csrf_token %}
        <div class="hide thanks_for_submitting"><p>Thanks for signing up!</p></div>
         <div class="large-6 large-offset-3">
            <div class="large-7 large-offset-0 medium-8 medium-offset-2 columns remove-padding">
                {{ invitationForm }}
            </div>
            <div class="remove-padding large-4 medium-text-center columns">
                <input type="submit" class="alert button small center" value="Get Invited" ></a>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block footer_page_javascript %}
    <script>
        $('.invitation_form').on('submit', function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'home_beta' %}",
                dataType: "json",
                data: $(this).serialize(),
                success: function(data) {
                    $('.thanks_for_submitting').fadeIn('slow');
                },
                error: function(data) {
                    $("#request_invite").find(".error-text").removeClass('hide');
                }
            });
        });
    </script>
{% endblock footer_page_javascript %}