    {% extends "base.html" %}

{% block title %}Home | Nineteenth Amendment{% endblock title %}
{% load staticfiles %}

{% block content %}
    <div class="large-12 columns home-intro-div">
        <div class="large-8 large-offset-2 columns">
            <p class='home-intro-text'>
                Nineteenth Amendment is a platform for emerging designers. Get exclusive access to independent designer fashion, made just for you in the USA. Support, interact, and discover the next big names in fashion.
            </p>
            <div class="clearfix"></div>
            <a href="{% url 'shop_all_garments' %}" class='small inverted-button inverted-button-home'>Shop Now</a>
            <div class="clearfix"></div>
            <p>or <a class="white-link" href="{% url 'designer_register' %}">become a designer</a></p>
        </div>

    </div>
    <div class="large-12 columns home-intro-signup">
        <div class='large-6 columns home-signup-shopper remove-padding'>
            <h1 class="home-title home-outer-title">Shoppers</h1>
            <div class="home-shopper-inner large-12 hide">
                <div class="large-8 large-offset-2">
                    <h1 class="home-title">Shoppers</h1>
                    <p>
                        Directly support and interact with the next wave of fashion designers.  Shop exclusive, USA-made, independently-designed fashion, not found anywhere else.
                    </p>
                    <p><a href="{% url 'shop_all_garments' %}" class='small inverted-button inverted-button-home'>Shop Now</a></p>

                </div>
            </div>
        </div>
        <div class='large-6 columns home-signup-designer remove-padding  text-center'>
            <h1 class="home-title home-outer-title">Designers</h1>
            <div class="home-designer-inner large-12 hide">
                <div class="large-8 large-offset-2">
                    <h1 class="home-title">Designers</h1>
                    <p>
                        Sell your designs and connect with buyers and consumers on Nineteenth Amendment, the first fashion marketplace and manufacturing service.
                    </p>
                    <p><a href="{% url 'designer_register' %}" class='small inverted-button inverted-button-home'>become a designer</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}